<ul id="file-grid" class="grid">
<%root_arr.each do |doc|%>
<li>
	<div>
		<div class="clip">
      <%if doc["file_tag"]=="FOLDER"%>
			  <img width="64" class="grid-icon ico_folder">
      <%elsif  doc["file_tag"]=="NOT_IMAGE"%>
        <img width="64" class="grid-icon ico_file">
      <%elsif  doc["file_tag"]=="COMMON_FILE"%>
        <img width="64" class="grid-icon ico_file ico_ext_<%=doc['type']%>">
      <%elsif  doc["file_tag"]=="IMAGE"%>
        <img width="64" class="loaded" src="<%=doc['path']%>">
      <%end%>
		</div>
		<p><%=doc["name"]%></p>
	</div>
</li>
<%end%>

</ul>
