<table id="file-table" cellspacing="0" cellpadding="0"  role="presentation">
	<tbody>
	<tr>
    <th style="width:645px;">Name</th>
    <th style="width:430px;">Date</th>
    <th style="width:315px;">Type</th>
    <th style="width:315px;">Size</th>
  </tr>
  <%root_arr.each do |doc|%>
  <tr role="row">
    <td>
    <div class="webix_hcell"><%=doc["name"]%></div>
    </td>
    <td>
    <div class="webix_hcell"><%=doc["date"]%></div>
    </td>
    <td>
    <div class="webix_hcell"><%=doc["type"]%></div>
    </td>
    <td>
    <%size=""%>
    <%if doc["size"]!=""%>
      <%size=doc["size"]+"KB"%>
    <%end%>
    <div class="webix_hcell"><%=size%></div>
    </td>
  </tr>
  <%end%>
	</tbody>
</table>

